#hero {
  width: 100%;
  height: 80vh;
  background-color: #f8f8ff;
  display: grid;
  place-content: center;
  position: relative;
}

#hero .content {
  width: 85rem;
  margin: 0 auto;
  height: 33.2rem;
}

.ilustra-01 {
  position: absolute;
  top: 0;
  left: 0;
}
.ilustra-02 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* CONTENT-TOP */
.content-top {
  width: 64.7rem;
  height: 16.7rem;
  margin: 0 auto 4rem auto;
  text-align: center;
}
.content-top p {
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #e45858;
  text-transform: uppercase;
}
.content-top h1 {
  font-size: 48px;
  line-height: 125%;
  color: #121214;
  font-weight: bold;
}
.content-top h1 span {
  color: #6246ea;
}

.content-busca {
  width: 100%;
  margin: 0 auto;
  height: 12.8rem;
  background: #ffffff;
  border: 1px solid red;
  border-radius: 1rem;
  padding: 4rem;
}
/* FORM */
#formulario {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr 169px;
}

#formulario .searchField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4ff;
  border-radius: 0.5rem;
}
#formulario .searchField img {
  padding-left: 1.2rem;
}
#formulario input:not(.submit) {
  background-color: #f4f4ff;
  width: 90%;
  height: 4.8rem;
  border: none;
  /* border-radius: 0.5rem; */

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
  outline: none;
}

#formulario input::placeholder {
  line-height: 100%;
  font-weight: 400;
  color: #7c7c8a;
}

#formulario .submit {
  height: 4.8rem;
  background-color: #6246ea;
  border-radius: 0.5rem;
  padding: 1.2rem 3.2rem;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  transition: all 0.4;
}
#formulario .submit:hover {
  filter: brightness(1.5);
  cursor: pointer;
}
/* MAIN */
#main {
  width: 85%;
  margin: 4rem auto;
}
#main .main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .main-title h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 140%;
  text-align: center;
  color: #121214;
}
.main-title .button-select {
  padding: 0.8rem;
  border: 1px solid #eaeaea;
  border-radius: 0.6rem;
}
.button-select button {
  text-transform: uppercase;
  padding: 0.4rem 2.4rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button-select button:first-child {
  background: #6246ea;
  color: white;
}
.button-select button:first-child:hover {
  filter: brightness(1.5);
}
.button-select button:last-child {
  color: #6246ea;
  background-color: transparent;
  transition: all 0.4s;
}
.button-select button:last-child:hover {
  color: #6246ea;
  background-color: transparent;
  filter: brightness(1.5);
}

#grid-cards .line {
  margin-top: 4rem;
  display: flex;
  gap: 1.6rem;
}

.line .card {
  border: 1px solid #eaeaea;
  width: 40%;
  border-radius: 1rem;
}
.line .card > img {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.line .card .content-card {
  padding: 1.6rem;
}
.card .content-card h3 {
  font-weight: bold;
  line-height: 140%;
  font-size: 2rem;
  color: #121214;
}
.card .content-card > p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
  line-height: 160%;
  line-break: auto;
  margin-block: 1.6rem;
}
.content-card .city {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.content-card .city p {
  line-height: 160%;
  color: rgba(0, 0, 0, 0.75);
  text-transform: capitalize;
  font-weight: 400;
}

@media (max-width: 780px) {
  .content-top h1 {
    font-size: 2.4rem;
  }

  /* Mexi nisso */
  .ilustra-01 img {
    width: 160px;
    height: 150px;
  }
  /* Mexi nisso */

  .ilustra-02 {
    display: none;
  }

  #main .main-title {
    display: flex;
    flex-direction: column;
  }

  #grid-cards .line {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .line .card {
    width: 100%;
  }

  .line .card > img {
    max-width: 100%;
  }
  #hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Mexi nisso */
    width: 80%;
    height: auto;
    /* Mexi nisso */
  }

  /* Mexi nisso */
  .content-top {
    width: 100%;
  }

  .content-busca {
    height: auto;
  }

  #formulario {
    grid-template-columns: 1fr;
  }
  /* Mexi nisso */
}
