.wrapper {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 12vh;
}

header .container {
  display: flex;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  display: flex;
  gap: 1rem;
}

header .container nav ul li a {
  text-decoration: none;

  color: #000;
}

header .container nav ul li button {
  background: none;
  border: 0;
}

.banner{
  height: 50vh;
  background: linear-gradient(#643bbcc5, #0000005d),  url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center/50%;
}

.banner .container {
  height: 100%;
}

.banner .container .content {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  flex-direction: column;

  width: 60%;
  margin: 0 auto;
  height: 100%;
}

.banner .container .content p {
  font-size: 1.5rem;
  text-align: center;
}