.wrapper {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 8vh;
}

header .container {
  display: flex;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  display: flex;
  gap: 1rem;
}

header .container nav ul li a {
  text-decoration: none;

  color: #000;
}

header .container nav ul li button {
  background: none;
  border: 0;
}
